@import "tailwindcss";
@custom-variant dark (&:is(.dark *));

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #f8fafc; /* slate-50 */
}

.dark body {
  background-color: #0f172a; /* slate-900 */
}
